<% include ../partials/header %>

    <div class="row">
        <h1 class="col-12 newTitle">Submit a New Festival</h1> 
        <div style="width:70%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="name">Name of Festival</label>
                    <input class="form-control" type="text" name="name" placeholder="Coachella" required>
                </div>                  
                <div class="form-group">
                    <label for="website">Website</label>
                    <input class="form-control" type="text" name="website" placeholder="https://electronicdaisycarnival.com">
                </div>                
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input class="form-control" type="text" name="genre" placeholder="Electronic, Hip-Hop, Mixed...">
                </div>                  
                <div class="form-group">
                    <label for="image url">Image of Festival (url)</label>
                    <textarea class="form-control" name="image" placeholder="https://google.com/size/google.png" rows="2" cols="70"></textarea>
                </div> 
                <div class="form-group">
                    <label for="lineup">Image of Lineup (url)</label>
                    <textarea class="form-control" name="lineup" placeholder="https://google.com/size/google.png" rows="2" cols="70"></textarea>
                </div>               
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" placeholder="$100.00" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" placeholder="Add a description about the festival" rows="4" cols="70"></textarea>
                </div>               
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Las Vegas, NV">
                </div>
                <div class="row form-group">
                    <label class="col-12" for="multiDay">Multi-Day Festival</label><br>
                    <label class="col-3">
                        <input type="radio" name="multiDay" value="yes">
                        Yes
                    </label>
                    <label class="col-3">
                        <input type="radio" name="multiDay" value="no">
                        No
                    </label>
                </div>
                <div class="row form-group">
                    <label class="col-12" for="camping">Camping</label><br>
                    <label class="col-3">
                        <input type="radio" name="camping" value="yes">
                        Yes
                    </label>
                    <label class="col-3">
                        <input type="radio" name="camping" value="no">
                        No
                    </label>
                </div>                
                <div class="row form-group">
                    <label class="col-12" for="allAges">All Ages</label><br>
                    <label class="col-3">
                        <input type="radio" name="allAges" value="yes">
                        Yes
                    </label>
                    <label class="col-3">
                        <input type="radio" name="allAges" value="no">
                        No
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block editSubmit">Submit!</button>
                </div>          
            </form>
        </div>
    </div>
    
<% include ../partials/footer %>