body {
    background: white;
}

.fa-usd {
    color: green;
}

/*filters css*/
    .filters {
        background-color: rgb(237, 239, 242);
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 15px;
    }
    
    .filterLabel {
        font-size: 9px;
        padding-top: 5px;
        letter-spacing: 1px;
        padding-right: 5px;
        font-family: "K2D";
        padding-left: 8px;
    }
    
    #selectedBtn {
        background-color: deeppink;
        color: white;
        letter-spacing:2.2px;
        font-size: 10px;
        font-weight: 900;
        margin-top: 2px;
    }
    
    .filterBtn {
        background-color: white;
        border-color: white;
        color: black;
        font-size: 8px;
        font-weight: 900;
        margin-top: 2px;
    }
    
    .filterBtn:hover {
        background-color: #1F2833;
        color: white;
        border-color:#1F2833;
    }
    
    #genreMore {
        margin-left: 15px;
        margin-bottom: 5px;
        margin-top: 3px;
        width: 125px;
        border-radius: 10px;
        font-family: "signika";
        background-color: #1F2833;
        border-color: #1F2833;
        color: white;
    }

    #genreMore:hover {
        background-color:rgb(0, 158, 178);
        border-color: rgb(0, 158, 178);
    }

/*header css*/
    .navbar {
        margin-bottom: -1px;
        border: none;
        background: #1F2833;
    }
    
    #brand {
        font-family: "Permanent Marker";
        font-size: 20px;
        color: deeppink;
        padding-left: 10px;
    }
    
    .centerHeader{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    
    .submitBtn .fa-plus-circle {
        margin-left: 10px;
    }
    
    .jumbotronTitle {
        font-size: 1.8rem;
        text-align: center;
        color: white;
    }
    
    
    #search input  {
        width: 300px;
        margin-left: auto;
    }
    
    .jumbotron {
        padding-left: 12px;
        margin-bottom:0;
        padding-top: 1.5rem;
        background-color: #1F2833;
    }
    
    .jumbotron div form {
        margin-bottom: 10px;
    }

    #search {
        margin: 0 auto;
    }
    
    .searchBtn {
        margin-right: auto;
    }
    
    .searchBtn button {
        background-color: deeppink;
        border-color: deeppink;
    }
    
    .fa-search {
        color: white;
    }


/*index css*/
.listing {
    margin-top: 20px;
    padding: 0 45px;
}

.listingContainer {
    margin: 0;
    margin-top: 25px;
}

.listingImage {
    text-align: center;
    margin-bottom: -1px;
}
    
.listingImage a img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
    
img {
    height: 225px;
}


.listingTitle{
    font-size: 18px;
    font-family: "Lora";
    padding: 0;
    color: white;
    margin: auto;
    padding-bottom: 7px;
}
    
.listingLocation {
    font-size: 13px;
    padding: 0;
    margin: auto;
    margin-bottom: -15px;
}
    
.listingLocation p {
    box-shadow: 2px 2px lightgrey;
    float: right;
    font-size: 11px;
    font-family: "Lora";
    margin-right: 10px;
    margin-top: -20px;
    background: white;
    padding: 6px 12px;
    border-radius: 8px;
}

.listingDescription {
    text-align: justify;
    font-size: 12px;
}
    
.cardInfo {
    padding: 7px 0px;
    background-color: #1F2833;
    border: 1px black solid;
    margin: 0px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
    
.pagination {
    margin-top: 25px;
}
    
.page-link {
    background-color: #1F2833;
    border-color: black;
}
    
.page-item.disabled .page-link {
    background-color: #1F2833;
    border-color: black;
}
    
.extraInfo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.extraIcons {
    font-size: 20px;
}
    
.agesIcon {
    font-size: 14px;
}
    
.camping {
    padding-top: 7px;
}
    
.genre {
    font-family: "Signika";
    font-size: 14px;
}
    
.indexFeatures {
    font-family: "Signika";
    font-size: 14px;
    text-align: center;
}
    
.orange {
    color: rgb(196, 146, 53);
}
    
.expand {
    width: 500px;
}

/*sidenav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navbar-toggler {
    border: none;
}

.fa-bars {
    color: deeppink;
    font-size: 28px;
}
    
    
/*show page*/

#main {
    padding: 35px 35px;
}

.commentSection {
    margin-top: 10px;
    padding-left: 31px;
    padding-right: 30px;
}

.commentLogin:hover {
    color: blue;
}

.showDescription {
    display: none;
}

.thumbnail {
    padding: 0;
    width: 100%
}

.thumbnail img {
   width: 100%; 
}

.thumbnail .caption-full {
    padding: 9px;
}

.campgroundPrice { 
    margin-right: 20px;
}

.campgroundName {
    font-weight: 900;
    font-size: 24px;
}

.showGenre {
    text-align: right;
}



hr {
    width: 90%;
}

.caption-full p {
    text-align: justify;
}



#mdBtn {
    font-size: 17px;
    background-color: #1F2833;
    border: none;
}

.card:first-of-type {
    margin-bottom: 12px;
}

.card-body:first-of-type {
    padding-bottom: 0.5rem;
}

#mdBtn:hover {
    color: white;
}

.mb-0 {
    text-align: center;
    color: white;
    margin: auto;
    text-decoration: none;
    padding: 15px 0px;
    cursor: pointer;
    width: 100%;
}

.iconSpace {
    padding-right: 3px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
}

#collapseOne {
    text-align: center;
}

#site {
    margin: 25px 0px;
}

#lineupInfo {
    margin-top: 20px;
    font-family: "Signika";
    font-size: 25px;
}

#lineupImg {
    margin-top: 15px;
    height: 500px;
    width: 100%;
}

.commentTitle {
    padding-left: 0;
}

.commentTitle p:first-child {
    font-size:16px;
    margin-bottom: 0;
    font-weight: bolder;
}

.commentTitle p:nth-child(2) {
    font-family: "Permanent Marker";
    font-size: 20px;
    color: deeppink;
}

.addComment {
    background-color: deeppink;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    box-shadow: 3px 3px lightpink;
}

#lineupImg {
    height: 500px;
    width: 100%;
}

#lineupInfo {
    font-family: "Signika";
    font-size: 25px;
}

.map {
    margin-top: 10px;
    height: 200px;
    width: 90%;
    margin: auto;
}

#accordion {
    margin-top: 20px;
}

.site {
    text-align: center;
}

.festivalEdit {
    float: right;
}

.commentEdit:nth-child(2), .festivalEdit:nth-child(2) {
    margin-right: 10px;
}

#commentDelete, #festivalDelete {
    background: red;
}

.commentEdit, .festivalEdit {
    float: right;
    background: darkorange;
    border: none;
    padding: 3px 5px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.festivalEdit {
    display: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.commentDate {
    font-size: 11px;
}

.editComment {
    padding-left: 10px;
}

.editPost {
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    background: deeppink;
    border-radius: 4px;
    padding: 5px;
    border: deeppink;
    float: right;
}

.mb-0 {
    text-decoration: none;
    padding: 15px 0px;
    cursor: pointer;
}

.iconSpace {
    padding-right: 3px;
    font-weight: 600;
    letter-spacing: 2px;
}

.addComment:hover, .addComment:focus {
    background: rgb(200, 0, 0);
    border: rgb(200, 0, 0);
    color: white;
}

rating stars
.starsRating {
    display: inline-block;
}

.starsRating span {
    font-family: "Signika";
    font-weight: 900;
    margin-right: 7px;
    display: inline-block;
    margin-top: 12px;
}

.submittedStars {
    margin-left: 30px;
    margin-bottom: 7px;
}

.submittedStars span {
    font-family: "Signika";
    font-weight: 900;
    margin-left: -30px;
    margin-right: 7px;
    display: inline-block;
    margin-top: 12px;
}

.starsRating input {
    display: none;
}

.starsRating label {
    float: right;
    padding: 2px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

.starsRating label:before {
    content: '\2605';
}

.starsRating input:checked ~ label:before {
    color: gold;
    transition: all .10s;
}

.starsRating label:hover {
    transform: scale(1.3);
}

rating stars1
.starsRating1 {
    display: inline-block;
}

.starsRating1 span {
    font-family: "Signika";
    font-weight: 900;
    margin-right: 7px;
    display: inline-block;
    margin-top: 12px;
}

.submittedStars span {
    font-family: "Signika";
    font-weight: 900;
    margin-left: -30px;
    margin-right: 7px;
    display: inline-block;
    margin-top: 12px;
}

.starsRating1 input {
    display: none;
}

.starsRating1 label {
    float: right;
    padding: 2px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

.starsRating1 label:before {
    content: '\2605';
}

.starsRating1 input:checked ~ label:before {
    color: gold;
    transition: all .10s;
}

.starsRating1 label:hover {
    transform: scale(1.3);
}

rated stars
.stars {
    display: inline-block;
}

.stars input {
    display: none;
}

.stars label {
    float: right;
    padding: 2px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

.stars label:before {
    content: '\2605';
}

.stars input:checked ~ label:before {
    color: gold;
}

.textArea {
    letter-spacing: 1px;
}

.commentText {
    margin-top: 10px;
    font-size: 17px;
}


/*edit page css*/
.editTitle {
    text-align: center;
    font-family: "Concert One";
    padding-top: 25px;
}

.editTitle a {
    color: deeppink;
}

.editFestival:hover {
    text-decoration: none;
}

.editForm {
    width: 80%;
}

.editSubmit {
    background-color: #1F2833;
    border-color: #1F2833;
    font-size: 16px;
    margin-top: 25px;
}

.editSubmit:hover {
    background-color: #1F2833;
}

/*new page css*/
.newTitle {
    text-align: center;
    font-family: "Concert One";
    padding-top: 25px;
    font-size: 35px;
}

/*media queries*/

@media only screen and (min-width: 768px) {
    .jumbotron {
        padding-bottom: 2rem;
    }
    
    .listing {
        padding: 0 30px;
    }
    
    .listing:nth-of-type(1), .listing:nth-of-type(4), .listing:nth-of-type(7) {
        padding-left: 45px;
    }
    
    .listing:nth-of-type(3), .listing:nth-of-type(6), .listing:nth-of-type(9) {
        padding-right: 45px;
    }
    
    .cardInfo {
        margin: 0;
        height: 130px;
    }
    
    .listingImage {
        padding: 0;
    }
    
    .infoIcons {
        margin: auto;
    }
    
    .listingTitle {
        text-align: center;
    }
    
    #search input  {
        width: 400px;
    }
    
    #search {
        margin: auto;
    }
    
    .searchBtn {
        height: 38px;
    }
    
    #brand {
        font-size: 25px;
    }
    
    .card .row div {
        text-align: center;
    }
    
    /*show page*/
    .map {
        height: 400px;
        width: 100%;
    }
    
    .showDescription {
        display: block;
    }
    
    .thumbnail img {
       width: 100%; 
       height: 300px;
    }
    
    .festivalEdit {
        display: block;
    }
    
    /*filters*/
    .filters {
        padding-left: 20px;
    }
    
    .filterLabel, #selectedBtn {
        font-size: 12px;
    }
    
    .filterBtn {
        font-size: 12px;
        letter-spacing: 1.8px
    }
}

@media only screen and (min-width: 992px) {
    .listing {
        padding: 0 30px;
    }
    
    #navbarSupportedContent {
        padding-right: 20px;
    }
    
    #landingRight {
        margin-right: 20px;
    }
    
    #landingRight, #landingRight1 {
        color: deeppink;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 14px;
    }  
    
    #brand {
        padding-left: 20px;
    }
    
    #search input {
        width: 500px;
        margin-left: 65px;
        height: 50px;
    }
    
    .searchBtn {
        height: 50px;
    }
    
    .searchBtn span {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .fa-search {
        font-size: 19px;
    }
    
    #search input::placeholder {
        font-size: 20px;
    }
    
    .jumbotronTitle {
        font-size: 2rem;
    }
    
    .thumbnail img {
        height: 375px;
    }
}